extends /layouts/application.pug

block define
  - const pageTitle = 'Вход';

block content
  //- параметры
  //-   f: { name, object }
  //-   message
  div.row.justify-content-center
    div.col-xl-4.col-lg-5.col-md-6.col-sm-8
      +title('Вход в систему')
      +formFor(f, { url: urlFor('session'), method: 'post' })
        if message
          .form-group
            .text-danger= message.text

        .form-group
          +input(f, 'email', 'E-mail', { autofocus: true, autocomplete: 'on' })
        .form-group
          +input(f, 'password', 'Пароль', { as: 'password', autocomplete: 'on' })
        +formFooter('Войти')

