
$table-hover-bg:  rgba(#ced4da, .12);

@import '~bootstrap/scss/bootstrap';

@import '~jquery-ui/themes/base/core.css';
@import '~jquery-ui/themes/base/menu.css';
@import '~jquery-ui/themes/base/datepicker.css';
@import '~jquery-ui/themes/base/theme.css';

nav.navbar {
  min-height: 56px;
}

.nav-item.active {
  border-bottom: 2px solid #ddd;
  margin-bottom: -8px;
}

.container {
  min-width:770px;
}

.form_title {
  height: 42px;
  display: inline-block;
}

.thead-sticky th {
  position: sticky;
  top: 0;
}

.footer-link {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.footer-link:hover {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}

.state-danger {
  background-color: rgba($red, .15);
  border: 1px solid rgba($red, .4);
  border-left: 4px solid rgba($red, .7);
}

.state-warning {
  background-color: rgba($yellow, .2);
  border: 1px solid rgba($yellow, .4);
  border-left: 4px solid rgba($yellow, .8);
}

.state-info {
  background-color: rgba($blue, .15);
  border: 1px solid rgba($blue, .4);
  border-left: 4px solid rgba($blue, .7);
}

.state-reject {
  background-color: rgba(144, 66, 193, .15); /* $purple */
  border: 1px solid rgba(144, 66, 193, .4);
  border-left: 4px solid rgba(144, 66, 193, .7);
}

.state-success {
  background-color: rgba($green, .15);
  border: 1px solid rgba($green, .4);
  border-left: 4px solid rgba($green, .7);
}

.state-done {
  background-color: rgba($gray-500, .2);
  border: 1px solid rgba($gray-500, .4);
  border-left: 4px solid rgba($gray-500, .7);
}

.badge-danger {
  color: #fff;
  background-color: rgba($red, .8);
}

.badge-process {
  color: #fff;
  background-color: $primary;
}

.badge-warning {
  color: #fff;
  background-color: $yellow;
}

.badge-none {
  background-color: rgba(gray, .5);
  color: #fff;
}

.badge-gray {
  background-color: #eceff1; /* $gray-200; */
}

.badge-gray:hover {
  background-color: #cfd8dc; /* $gray-300; */
}

.toolbar-right {
  margin-top: -42px;
  min-height: 42px;
}

.pos-right {
  position: absolute;
  right: 1em;
  top: 0em;
}


.table-primary {
  border-left: 4px solid rgba($blue, .7);  
}

.table-primary,
.table-primary td {
  background-color: #e0efff;
}

.table-hover .table-primary:hover,
.table-hover .table-primary:hover td {
  background-color: #d0e6ff;
}

/*
.table-primary:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 14px;
  margin-top: 15px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #fff;
  z-index: 1;
} */

.callout {
  border-left: 3px solid $gray-300!important;
}

.callout-info {
  border-left: 3px solid $cyan!important;
}

.callout-success {
  border-left: 3px solid $green!important;
}

.callout-warning {
  border-left: 3px solid $orange!important;
}

.callout-danger {
  border-left: 3px solid $red!important;
}

.semi-transparent {
  opacity: 0.5;
}

.link-light {
  text-decoration: none!important;
  margin-top: -1px;
}

.notify-status {
  background-clip: padding-box;
  /* background-image: linear-gradient($yellow, $orange); */
  border: 2px solid #f8f9fa;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  left: 6px;
  top: 3px;
  width: 14px;
  height: 14px;
  z-index: 2;
}

.notify-danger {
  background-image: linear-gradient($orange, $red);
}

.notify-process {
  background-image: linear-gradient(#00d0ff, $blue);
}

.notify-warning {
  background-image: linear-gradient($yellow, $warning);
}

.day-info-danger:after {
  content:'';
  width: 5px;
  height: 5px;
  box-shadow: 
    -6px 0 0 0 $blue,
    /* -6px 0 0 1px #f6f6f6, */
    -15px 0 0 0 $red;
  position: absolute;
  margin-left: 25px;
  margin-top: -7px;
}

.day-info-1:after {
  content:'';
  width: 5px;
  height: 5px;
  box-shadow: 
    -6px 0 0 0 $blue;
  position: absolute;
  margin-left: 21px;
  margin-top: -7px;
}

.day-info-2:after {
  content:'';
  width: 5px;
  height: 5px;
  box-shadow: 
    -6px 0 0 0 $blue,
    -15px 0 0 0 $blue;
  position: absolute;
  margin-left: 25px;
  margin-top: -7px;
}

.day-info-3:after {
  content:'';
  width: 5px;
  height: 5px;
  box-shadow: 
    -6px 0 0 0 $blue,
    -15px 0 0 0 $blue,
    -24px 0 0 0 $blue;
  position: absolute;
  margin-left: 31px;
  margin-top: -7px;
}

.Calendar .ui-datepicker {
  box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075); /* shadow-sm */
}

.ui-autocomplete .highlight {
  font-weight: bold;
}

.ui-datepicker-header {
  background-color: white;
  border: 1px solid white;
}

.ui-datepicker th {
  padding-top: 0.1em;
  color: $gray-600; /* text-muted */
}

.ui-datepicker-today a {
  border: 1px solid $blue;
  border-radius: 3px;
}

.ui-datepicker-current-day a {
  border-radius: 3px;
}

.ui-state-default {
  border: 1px solid transparent!important;
}

@import '~bootstrap-multiselect/dist/css/bootstrap-multiselect.css';

.dropdown-menu {
  width:100%;
}

.multiselect {
  text-align: left;
}

.multiselect-container {
  margin-top: -1px;
}

.multiselect-container li a {
  display: block;
  color: inherit;
}

.multiselect-container li a label {
  padding: 3px 20px 3px 20px;
}

.multiselect-selected {
  background-color: $blue;
  color: white;
}


@import '~dm-file-uploader/dist/css/jquery.dm-uploader.min.css';

.dm-uploader {
  border: 2px dashed $gray-300;
  background-color: white;
}

.dm-uploader.active {
  border-color: $primary;
}

.dm-uploader.error {
  border-color: $red;
}
