
$table-hover-bg:  rgba(#ced4da, .12);

@import '~bootstrap/scss/bootstrap';

@import '~jquery-ui/themes/base/core.css';
@import '~jquery-ui/themes/base/menu.css';
@import '~jquery-ui/themes/base/datepicker.css';
@import '~jquery-ui/themes/base/theme.css';

nav.navbar {
  min-height: 56px;
}

.nav-item.active {
  border-bottom: 2px solid #ddd;
  margin-bottom: -8px;
}

.container {
  min-width:770px;
}

.form_title {
  height: 42px;
  display: inline-block;
}

.thead-sticky th {
  position: sticky;
  top: 0;
}

.footer-link {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.footer-link:hover {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}

.state-danger {
  background-color: rgba($red, .15);
  border: 1px solid rgba($red, .4);
  border-left-width: 4px;
}

.state-warning {
  background-color: rgba($orange, .15);
  border: 1px solid rgba($orange, .4);
  border-left-width: 4px;
}

.state-info {
  background-color: rgba($blue, .15);
  border: 1px solid rgba($blue, .4);
  border-left-width: 4px;
}

.state-success {
  background-color: rgba($green, .15);
  border: 1px solid rgba($green, .4);
  border-left-width: 4px;
}

.state-done {
  background-color: rgba($gray-500, .2);
  border: 1px solid rgba($gray-500, .4);
  border-left-width: 4px;
}


.badge-gray {
  background-color: #e5e5e5; /* $gray-200; */
}

.badge-gray:hover {
  background-color: #d9d9d9; /* $gray-300; */
}

.toolbar-right {
  margin-top: -42px;
  min-height: 42px;
}

.pos-right {
  position: absolute;
  right: 1em;
  top: 0em;
}


.table-primary,
.table-primary td {
  background-color: #d0e6ff;
}

.table-hover .table-primary:hover,
.table-hover .table-primary:hover td {
  background-color: #b8daff;
}

/* .table-primary:after {
  content: "<";
  position: absolute;
} */ 

.callout {
  border-left: 3px solid $gray-300!important;
}

.callout-info {
  border-left: 3px solid $cyan!important;
}

.callout-success {
  border-left: 3px solid $green!important;
}

.callout-warning {
  border-left: 3px solid $orange!important;
}

.callout-danger {
  border-left: 3px solid $red!important;
}

.semi-transparent {
  opacity: 0.5;
}

.ui-autocomplete .highlight {
  font-weight: bold;
}

.ui-datepicker-header {
  background-color: white;
  border: 1px solid white;
}

.ui-datepicker th {
  padding-top: 0.1em;
}

.ui-datepicker-today a {
  border: 1px solid $blue;
  border-radius: 3px;
}

.ui-datepicker-current-day a {
  border-radius: 3px;
}

.ui-state-default {
  border: 1px solid transparent!important;
}

@import '~bootstrap-multiselect/dist/css/bootstrap-multiselect.css';

.dropdown-menu {
  width:100%;
}

.multiselect {
  text-align: left;
}

.multiselect-container {
  margin-top: -1px;
}

.multiselect-container li a {
  display: block;
  color: inherit;
}

.multiselect-container li a label {
  padding: 3px 20px 3px 20px;
}

.multiselect-selected {
  background-color: $blue;
  color: white;
}


@import '~dm-file-uploader/dist/css/jquery.dm-uploader.min.css';

.dm-uploader {
  border: 2px dashed $gray-300;
  background-color: white;
}

.dm-uploader.active {
  border-color: $primary;
}

.dm-uploader.error {
  border-color: $red;
}
