extends /layouts/application.pug

block define
  - const section = 'users';
  - const pageTitle = 'Просмотр пользователя';
  - const defaultCol = { label: 'col-4', input: 'col-8' };

block content
  //- параметры
  //-   user
  //-   access
  div.row.justify-content-center
    div.col-xl-5.col-lg-6.col-md-7.col-sm-9

      +title('Пользователь', 'pl-0', referFor('showUser'))
        if access.edit
          +buttonEdit(urlFor('editUser', user.id))
        if access.delete
          +buttonDelete(urlFor('deleteUser', user.id), 'пользователя')

      .card.card-body.shadow-sm
        .form-group.row
          +inputText(user.firstName, 'Имя')
        .form-group.row
          +inputText(user.lastName, 'Фамилия')
        .form-group.row
          +inputText(user.email, 'E-mail')

  +confirmDelete()

