extends /layouts/application.pug

block define
  - const pageTitle = 'Главная страница';

block content
  +title('Менеджер задач')
  p Демо веб-приложение разработано на 
    a(href='https://nodejs.org' target='_blank') Node
    span.text-success.pl-1
      i.fab.fa-node-js
    span , 
    a(href='https://koajs.com' target='_blank') Koa
    span , 
    a(href='https://getbootstrap.com' target='_blank') Bootstrap 4
    span , 
    a(href='https://docs.sequelize.com' target='_blank') Sequelize
    span .

  p.text-muted.p-2.pl-3.callout-info.bg-white.border.col-xl-8.col-lg-10
    a(href=urlFor('newUser')) Зарегистрируйтесь
    span , чтобы потыкать на все кнопки, иначе большая часть будет не видна.
    br
    span Никаких рассылок, e-mail используется в качестве логина (можно использовать любой).

  p Реализованы следующие функции:
    - const muted = isSignedIn() ? '' : 'text-muted';
    ul
      li
        b пользователи
        ul 
          li просмотр пользователей
          li регистрация новых пользователей
          li(class= muted) изменение и удаление (своего) пользователя 
          //- i.fas.fa-lock
      li
        b задания
        ul 
          li просмотр и поиск заданий
          li(class= muted) добавление заданий
          li(class= muted) изменение и удаление заданий (автор)
          li(class= muted) обновление статуса заданий (исполнитель)
          li(class= muted) прикрепление файлов к заданию
          //- li добавление комментариев
          //- li уведомления (задание назначено, исполнено)
          //- li просмотр истории изменений
      li
        b общее
        ul 
          //- li REST
          li аутентификация и авторизация
          li валидация значений в формах ввода

