extends /layouts/application.pug

block define
  - const section = 'tasks';
  - const pageTitle = 'Редактирование задания';
  - const defaultCol = { label: 'col-3', input: 'col-9' };

block content
  //- параметры
  //-   f: { name, object, model, errors }
  //-   statuses
  div.row.justify-content-center
    div.col-xl-8.col-lg-9.col-md-12.col-sm-12
      +title('Задание')
      +formFor(f, { url: urlFor('updateTask', f.object.id), method: 'patch' })
        .form-group.row
          +input(f, 'name', 'Что сделать', { autofocus: true })
        .form-group.row
          +date(f, 'dateTo', 'Срок', { col: { label: 'col-3', input: 'col-3' } })
          +select(f, 'statusId', 'Статус', statuses, { col: { label: 'col-2', input: 'col-4' } } )
        .form-group.row
          +textarea(f, 'description', 'Описание')
        .form-group.row
          +autocomplete(f, 'executor', 'Исполнитель', { url: urlFor('users.json') })
        //- .form-group.row
        //-  +autocomplete(f, 'author', 'Автор', { url: urlFor('users.json') })
        //- .form-group.row
          //- +input('', 'Теги')
        +formFooter()

