extends /layouts/application.pug

block define
  - const pageTitle = 'Вход';

block content
  //- параметры
  //-   f: { name, object, model, errors }
  //-   message
  if message
    .alert.alert-dismissible.fade.show(class=`alert-${message.type}`)
      = message.text
  div.row.justify-content-center
    div.col-xl-4.col-lg-5.col-md-6.col-sm-8
      +title('Вход в систему')
      +formFor(f, { url: urlFor('session'), method: 'post' })
        +inputV(f, 'email', 'E-mail')
        +inputV(f, 'password', 'Пароль', { as: 'password' })
        +formFooter('Войти')

