extends /layouts/application.pug

block define
  - const section = 'users';
  - const pageTitle = 'Пользователи';

block content
  //- параметры
  //-   users
  //-   pages: { pageCount, pageSize, currentPage, recordCount }
  +title(pageTitle)
  table.table.border-left.border-right.table-hover.shadow-sm
    thead.thead-light.thead-sticky
      tr
        th(style='width: 5%') №
        th(style='width: 30%') Имя
          span.text-muted.pl-2
            i.fas.fa-sort-down
        th(style='width: 35%') E-mail
        th(style='width: 30%') Зарегистрирован
    tbody.bg-white
      - const startFrom = (pages.currentPage - 1) * pages.pageSize + 1;
      - var n = startFrom;
      each user in users
        tr
          td= n++
          td
            a(href= urlFor('showUser', user.id))= user.fullName
            if user.id === userId()
              span.float-right(data-toggle='tooltip' title='Текущий пользователь' data-placement='top')
                i.fas.fa-user.text-primary
          td= user.email
          td= user.formattedDate
      if n === startFrom
        tr
          td(colspan='4') Нет данных
  if pages.pageCount > 1
    +pagination({ url: urlFor('users'), pages })
