
nav.navbar {
  min-height: 56px;
}

.form_title {
  height: 42px;
  display: inline-block;
}

.thead-sticky th {
  position: sticky;
  top: 0;
}

.footer-link {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.footer-link:hover {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}

.table-hover tbody tr:hover {
  background-color: #f8f9fa;
}

.badge-lg {
  font-size: 90%;
}

.state-warning {
  background-color: #ffdfcc;
}

.state-info {
  background-color: #cce9ff;
}

.state-success {
  background-color: #d2ffbf;
}

.badge-gray {
  background-color: #e9ecef;
}

.badge-gray:hover {
  background-color: #d6d9db;
}

.pos-right {
  position: absolute;
  right: 1em;
  top: 0em;
}


.callout {
  border-left: 3px solid #eee;
}

.callout-info {
  border-left: 3px solid #5bc0de;
}

.callout-success {
  border-left: 3px solid #28a745;
}

.callout-warning {
  border-left: 3px solid #f0ad4e;
}

.callout-danger {
  border-left: 3px solid #d9534f;
}


/* autocomplete  */

.ui-widget.ui-widget-content {
	border: 1px solid #c5c5c5;
}
.ui-widget-content {
	border: 1px solid #dddddd;
	background: #ffffff;
	color: #333333;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	border: 1px solid #003eff;
	background: #007fff;
	font-weight: normal;
	color: #ffffff;
}

