</div>
</div><!-- container -->
footer.footer.mt-auto.py-4.bg-white
  .container.text-center.text-muted
    .row.justify-content-center(style='font-size:80%')
      .col
        a.footer-link(href='#') Кирютин Эдуард
      .col
        a.footer-link(href='https://github.com/ekiryutin/project-lvl4-s383' target='_blank') 
          span(style='font-size:120%') 
            i.fab.fa-github
          span.pl-1 github.com
      .col
        a.footer-link(href='https://ru.hexlet.io/u/kiryutin' target='_blank')
          span(style='font-size:120%') 
            i.far.fa-thumbs-up
          span.pl-1 hexlet.io

script(src='/assets/vendors.js')
script(src='/assets/main.js')

</body>
</html>

